<p class="my-0"><strong>{{ item.product.name }}</strong></p>
<!-- Display product name -->
<p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}
    <!-- If product has sizes, display the size (converted to uppercase) -->
    {{ item.size|upper }}
    {% else %}
    <!-- If product doesn't have sizes, display "N/A" -->
    N/A
    {% endif %}
</p>
<p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
<!-- Display product SKU (converted to uppercase) with a small text indicating it -->