{% block footer %}
{% endblock %}
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-12 col-sm-6 col-lg-3">
                <h5>Help links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://premwear-league-b168782f243c.herokuapp.com/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Help</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Site Map</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <h5>Social links</h5>
                <ul class="list-unstyled social">
                    <li class=""><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li class=""><a href="https://twitter.com/"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li class=""><a href="https://www.instagram.com/"><i class="fa fa-instagram"> Instagram</i></a></li>
                    <li class=""><a href="https://www.tiktok.com/en/"><i class="fab fa-brands fa-tiktok"></i> Tik Tok</a></li>
                    <li class=""><a href="https://www.premierleague.com/" target="_blank"><i class="fa fa-light fa-futbol"></i> Premier League</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <h5 class="mb-4">NEWS LETTER</h5>
                <div class="nl-msg"></div>
                <form id="nl_form" method="post">
                  {% csrf_token %}
                  <div class="nl-input-con">
                    {{ newsletter_form.as_p }}
                  
                    <button data-url="{% url 'subscribe_newsletter' %}"  class="sub btn btn-success mb-3">Subscribe</button>
                  </div>
                </form>
              </div>
            <div class="col-12 col-sm-6 col-lg-3 text-white">
                <h5>CONTACT INFO</h5>
                <ul>
                    <li><a href=""><i class="fa fa-solid fa-location-dot"></i> Address:</a><br>1 Limerick Road, V94</li><br>
                    <li><a href=""><i class="fa fa-solid fa-phone"></i> Phone:</a><br>+353 61 111</li><br>
                    <li><a href=""><i class="fa fa-regular fa-envelope"></i> Email:<br></a>premwearleague@sample.com</li>
                </ul>
              </div>
            <hr>
        </div>	
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://premwear-league-b168782f243c.herokuapp.com/">Premwear League</a></u> is a registered ecommerce business in Ireland.</p>
                <p class="h6">© All rights reserved to author and creator<a class="text-green ml-2" href="https://linkedin.com/in/paul-hughes-2a6194242" target="_blank">@hug_hes84.</a></p>                   
            </div>
            <hr>
        </div>	
    </div>
</section>