{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="container py-5">
    <div class="row py-5">
      <div class="col-12 mt-5">
        <h1>About Us</h1>   
        <section>
            <h2>Our Story</h2>
            <p>Welcome to our premier destination for all your football gear needs, inspired by the electrifying spirit of the English Premier League. 
                Discover a vast array of authentic football gear, meticulously curated to satisfy the cravings of die-hard fans and aspiring athletes alike. 
                Enjoy a seamless shopping experience with our intuitive website design. We feel your passion and aim to provide you with everything you need to follow the beautiful game. 
                Premwear League is the home for football online - Your club's colours run through our veins. When you think football, think Premwear League - we've got you sorted.
                A globally-renowned football specialist and authority in our field, www.premwearleague.com is home to a huge amount of official replica kits and more for English Premier League giants 
                Arsenal, Chelsea, Everton, Liverpool, Manchester City, Manchester United, Tottenham Hotspur and others.</p>
        </section>      
        <section>
            <h2>When did you open?</h2>
            <p>
                Premwear League was founded in Febuary 2004, making us one of the oldest online football stores. We have grown into one of the world’s biggest football retailers and have shipped over 1 million orders.
                We are so grateful for the amazing support our loyal and passionate customers have provided us and continually strive to increase and improve our product offerings and service levels.
            </p>
        </section>
        <section>
            <h2>Where do you ship?</h2>
            <p>
                Literally everywhere! We ship to every country in the world.
            </p>
        </section>
        <section>
            <h2>Where are you based?</h2>
            <p>
                Premwear League are a Limerick based company located in Ireland. All our items are shipped from within Ireland, but we do offer cheap, fast and efficient international shipping to every country in the world.
            </p>
        </section>
      </div>
    </div>
</div>
{% endblock %}